trigger:
  branches:
    include:
      - master
      - refs/tags/*

pr:
- master

resources:
  repositories:
    - repository: templates
      type: github
      name: CadQuery/conda-packages
      endpoint: CadQuery

jobs:
- template: build-bindings-job.yml
  parameters:
    name: Linux
    vmImage: 'ubuntu-22.04'
    vmImage_compile: 'ubuntu-22.04'
    platform: Linux

- template: build-bindings-job.yml
  parameters:
    name: Windows
    vmImage: 'windows-latest'
    vmImage_compile: 'windows-latest'
    platform: Windows

- template: build-bindings-job.yml
  parameters:
    name: OSX
    vmImage: 'macos-latest'
    vmImage_compile: 'macos-latest' 
    platform: OSX
