name: cpp-py-bindgen
channels:
  - conda-forge
dependencies:
  - occt=7.9.3=all*
  - pybind11=2.13.*
  - python={{ get_env("PYTHON_VERSION", default="3.13") }}
  - cmake >3.24
  - ninja
  {% if  get_env("STAGE", default="generate") == "generate" %}
  - clangdev
  - python-clang=21.*
  - joblib
  - toml
  - click
  - jinja2
  - logzero
  - pandas
  - path
  - pyparsing
  - schema
  - tqdm
  - toposort
  - py-lief
  - msitools # [linux]
  {% else %}
  - cxx-compiler
  - tbb-devel # [win]
  - pip:
      - git+https://github.com/CadQuery/pybind11-stubgen.git
  {% endif %}
